## Instructions
Complete the following steps on the categorical columns in the dataset:

Check for null values in all the columns

Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

- OSOURCE - symbol definitions not provided, too many categories

- ZIP - we are including state already

Identify columns that have over 50% missing values.

Remove those columns from the dataframe

Perform all of the cleaning processes from the Lesson.

Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)

In [29]:
data = pd.read_csv('learningSet.csv')

C:\Users\tella\AppData\Local\Temp\ipykernel_19144\3673836359.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('learningSet.csv')

In [30]:
data.dtypes

ODATEDW       int64
OSOURCE      object
TCODE         int64
STATE        object
ZIP          object
             ...
MDMAUD_R     object
MDMAUD_F     object
MDMAUD_A     object
CLUSTER2    float64
GEOCODE2     object
Length: 481, dtype: object

## CATEGORICAL DATA

In [188]:
data_cat = data.select_dtypes('object')

In [119]:
Y = data[['TARGET_B', 'TARGET_D']]

In [120]:
data_cat.isna().sum()

OSOURCE       0
STATE         0
ZIP           0
MAILCODE      0
PVASTATE      0
           ...
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
Length: 74, dtype: int64

## 1. Exclude the following variables by looking at the definitions

OSOURCE - symbol definitions not provided, too many categories

In [121]:
data_cat['OSOURCE'].value_counts()

OSOURCE
MBC    4539
SYN    3563
AML    3430
BHG    3324
IMP    2986
       ...
MDD       1
NRM       1
HDP       1
CRP       1
VIC       1
Name: count, Length: 896, dtype: int64

In [122]:
# This is the code of emailing campaign

ZIP - we are including state already

In [123]:
data_cat['ZIP'].value_counts()

ZIP
85351     61
92653     59
85710     54
95608     50
60619     45
          ..
70058-     1
93024      1
96306      1
30060-     1
32776-     1
Name: count, Length: 19938, dtype: int64

In [124]:
# The zip code can help to find the States but we already have them in a different column and continue with those values.

In [125]:
drop_list = []

In [126]:
drop_list = ['ZIP', 'OSOURCE']

In [127]:
drop_list

['ZIP', 'OSOURCE']

## 2. Identify columns that have over 50% missing values.

In [128]:
nulls_percent_df = pd.DataFrame(data_cat.isna().sum()/len(data_cat)).reset_index()
nulls_percent_df
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

   column_name  nulls_percentage
0      OSOURCE          0.000000
1        STATE          0.000000
2          ZIP          0.000000
3     MAILCODE          0.000000
4     PVASTATE          0.000000
..         ...               ...
69      RFA_2A          0.000000
70    MDMAUD_R          0.000000
71    MDMAUD_F          0.000000
72    MDMAUD_A          0.000000
73    GEOCODE2          0.001383

[74 rows x 2 columns]

In [129]:
nulls_percent_df_50 = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.5]
nulls_percent_df_50

Empty DataFrame
Columns: [column_name, nulls_percentage]
Index: []

In [130]:
nulls_percent_df.describe().T

                  count      mean       std  min  25%  50%  75%       max
nulls_percentage   74.0  0.000019  0.000161  0.0  0.0  0.0  0.0  0.001383

In [131]:
# There are no data with more than > 50% missing values

In [132]:
data_cat.head()

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,MDMAUD,DOMAIN,CLUSTER,AGEFLAG,HOMEOWNR,CHILD03,CHILD07,CHILD12,CHILD18,GENDER,DATASRCE,SOLP3,SOLIH,MAJOR,GEOCODE,COLLECT1,VETERANS,BIBLE,CATLG,HOMEE,PETS,CDPLAY,STEREO,PCOWNERS,PHOTO,CRAFTS,FISHER,GARDENIN,BOATS,WALKER,KIDSTUFF,CARDS,PLATES,LIFESRC,PEPSTRFL,RFA_2,RFA_3,RFA_4,RFA_5,RFA_6,RFA_7,RFA_8,RFA_9,RFA_10,RFA_11,RFA_12,RFA_13,RFA_14,RFA_15,RFA_16,RFA_17,RFA_18,RFA_19,RFA_20,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,XXXX,T2,36,,,,,,,F,,,,,,,,,,,,,,,,,,,,,,,,,X,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,XXXX,S1,14,E,H,,,,M,M,3,,,,2,,,,,,,,,,,,,,,,,,,,,L2G,A2G,A2G,A2G,A2G,A1E,A1E,A1E,A1E,A1E,A1E,,,,L1E,,,N1E,N1E,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,XXXX,R2,43,,U,,,,,M,3,,,,,,,,,,,,,,,,,,,,,,,,X,L4E,S4E,S4E,S4E,S4E,S4F,S4F,S4F,,S4F,S4F,S4F,S4F,S4F,S4F,,S4D,S4D,,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,XXXX,R2,44,E,U,,,,,F,3,,,,,,,,,,,,,,,,,,,,,,,,X,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,,S4E,S4E,S4E,S4E,S4E,S4E,S2D,S2D,A1D,A1D,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,XXXX,S2,16,E,H,,,,,F,3,,12,,,,,Y,Y,,,,Y,,,Y,,Y,,Y,,Y,,3,,L2F,A2F,A2F,A2F,A1D,I2D,A1E,A1E,L1D,A1E,A1E,L1D,L3D,,L3D,A2D,A2D,A3D,A3D,A3D,I4E,A3D,A3D,L,F,X,X,X,A

In [136]:
data_cat['MAILCODE'].value_counts(dropna=False)

MAILCODE
     94013
B     1399
Name: count, dtype: int64

In [137]:
data_cat['PVASTATE'].value_counts()

PVASTATE
     93954
P     1453
E        5
Name: count, dtype: int64

In [138]:
#Obviously many columns with space instead of empty value

In [139]:
data_cat = data_cat.apply(lambda x: x.replace(" ", np.NaN))

In [140]:
nulls_percent_df = pd.DataFrame(data_cat.isna().sum()/len(data_cat)).reset_index()
nulls_percent_df
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

   column_name  nulls_percentage
0      OSOURCE          0.009726
1        STATE          0.000000
2          ZIP          0.000000
3     MAILCODE          0.985337
4     PVASTATE          0.984719
..         ...               ...
69      RFA_2A          0.000000
70    MDMAUD_R          0.000000
71    MDMAUD_F          0.000000
72    MDMAUD_A          0.000000
73    GEOCODE2          0.003343

[74 rows x 2 columns]

In [141]:
nulls_percent_df_50 = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.5]
nulls_percent_df_50

   column_name  nulls_percentage
3     MAILCODE          0.985337
4     PVASTATE          0.984719
6     RECINHSE          0.929747
7        RECP3          0.978860
8      RECPGVG          0.998805
9     RECSWEEP          0.983052
15     CHILD03          0.987989
16     CHILD07          0.983587
17     CHILD12          0.981019
18     CHILD18          0.970161
21       SOLP3          0.998113
22       SOLIH          0.935019
23       MAJOR          0.996919
24     GEOCODE          0.840230
25    COLLECT1          0.945479
26    VETERANS          0.890727
27       BIBLE          0.907024
28       CATLG          0.917568
29       HOMEE          0.990703
30        PETS          0.849851
31      CDPLAY          0.871568
32      STEREO          0.865908
33    PCOWNERS          0.890150
34       PHOTO          0.949839
35      CRAFTS          0.914308
36      FISHER          0.925271
37    GARDENIN          0.859535
38       BOATS          0.978745
39      WALKER          0.889940
40    KIDSTUFF          0.983901
41       CARDS          0.989089
42      PLATES          0.994131
43     LIFESRC          0.566302
44    PEPSTRFL          0.525542
58      RFA_15          0.686255
63      RFA_20          0.526139
66      RFA_23          0.589800

In [142]:
nulls_percent_df_50.shape

(37, 2)

In [143]:
drop_columns_list = list(nulls_percent_df_50['column_name'])
drop_columns_list

['MAILCODE',
 'PVASTATE',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'SOLP3',
 'SOLIH',
 'MAJOR',
 'GEOCODE',
 'COLLECT1',
 'VETERANS',
 'BIBLE',
 'CATLG',
 'HOMEE',
 'PETS',
 'CDPLAY',
 'STEREO',
 'PCOWNERS',
 'PHOTO',
 'CRAFTS',
 'FISHER',
 'GARDENIN',
 'BOATS',
 'WALKER',
 'KIDSTUFF',
 'CARDS',
 'PLATES',
 'LIFESRC',
 'PEPSTRFL',
 'RFA_15',
 'RFA_20',
 'RFA_23']

In [144]:
for col_name in drop_columns_list:
    drop_list.append(col_name)

In [145]:
drop_list

['ZIP',
 'OSOURCE',
 'MAILCODE',
 'PVASTATE',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'SOLP3',
 'SOLIH',
 'MAJOR',
 'GEOCODE',
 'COLLECT1',
 'VETERANS',
 'BIBLE',
 'CATLG',
 'HOMEE',
 'PETS',
 'CDPLAY',
 'STEREO',
 'PCOWNERS',
 'PHOTO',
 'CRAFTS',
 'FISHER',
 'GARDENIN',
 'BOATS',
 'WALKER',
 'KIDSTUFF',
 'CARDS',
 'PLATES',
 'LIFESRC',
 'PEPSTRFL',
 'RFA_15',
 'RFA_20',
 'RFA_23']

In [146]:
cols = ['VETERANS', 'SOLIH']
for item in cols:
    drop_list.remove(item)

In [147]:
cols = ['MAILCODE']
for item in cols:
    drop_list.remove(item) 
#forgot MAILCODE

In [148]:
# cols = ['WEALTH1', 'WEALTH2']
# for item in cols:
#     drop_list.remove(item)

In [149]:
drop_list.append('NOEXCH')

In [150]:
drop_list.append('MDMAUD')

In [151]:
drop_list = drop_list + ['MDMAUD_R', 'MDMAUD_F','MDMAUD_A']

In [152]:
for col_name in data_cat.columns:
    if "RFA" in col_name:
        drop_list.append(col_name)

In [153]:
drop_list.remove('RFA_2R')
drop_list.remove('RFA_2A')

## 4. Perform all of the cleaning processes from the Lesson.

In [154]:
df = pd.DataFrame(data_cat['STATE'].value_counts()).reset_index()
df.columns = ['state', 'count']
other_states = list(df[df['count']<2500]['state'])
def clean_state(x):
    if x in other_states:
        return 'other'
    else:
        return x
    
data_cat['STATE'] = list(map(clean_state, data_cat['STATE']))

In [155]:
data_cat['DOMAIN'] = data_cat['DOMAIN'].fillna('R2')

In [156]:
data_cat['DOMAIN_A'] = list(map(lambda x: x[0], data_cat['DOMAIN']))
data_cat['DOMAIN_B'] = list(map(lambda x: x[1], data_cat['DOMAIN']))

In [157]:
data_cat['MAILCODE'] = data_cat['MAILCODE'].fillna("A")

In [158]:
data_cat['MAILCODE'].value_counts()

MAILCODE
A    94013
B     1399
Name: count, dtype: int64

In [159]:
data_cat['CLUSTER'] = data_cat['CLUSTER'].fillna('40')

In [160]:
data_cat['HOMEOWNR'] = data_cat['HOMEOWNR'].fillna('N')

In [161]:
data_cat['DATASRCE'] = data_cat['DATASRCE'].fillna('0')

In [162]:
data_cat['GEOCODE2'] = data_cat['GEOCODE2'].fillna('A')

## 5. Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [170]:
data_cat['GENDER'].value_counts()

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [117]:
# M = Male
# F = Female
# U = Unknown
# J = Joint Account, unknown gender

In [189]:
data_cat['GENDER'] = data_cat['GENDER'].apply(lambda x: x.replace(" ", "F"))

In [192]:
def clean(g):
    if g in ['J', 'C', 'A', 'U']:
        return 'other'
    else:
        return g
data_cat["GENDER"] = list(map(clean, data_cat["GENDER"]))

In [193]:
data_cat['GENDER'].value_counts()

GENDER
F        54234
M        39094
other     2084
Name: count, dtype: int64

## 3. Remove those columns from the dataframe

In [179]:
drop_list

['ZIP',
 'OSOURCE',
 'PVASTATE',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'SOLP3',
 'MAJOR',
 'GEOCODE',
 'COLLECT1',
 'BIBLE',
 'CATLG',
 'HOMEE',
 'PETS',
 'CDPLAY',
 'STEREO',
 'PCOWNERS',
 'PHOTO',
 'CRAFTS',
 'FISHER',
 'GARDENIN',
 'BOATS',
 'WALKER',
 'KIDSTUFF',
 'CARDS',
 'PLATES',
 'LIFESRC',
 'PEPSTRFL',
 'RFA_15',
 'RFA_20',
 'RFA_23',
 'NOEXCH',
 'MDMAUD',
 'MDMAUD_R',
 'MDMAUD_F',
 'MDMAUD_A',
 'RFA_2',
 'RFA_3',
 'RFA_4',
 'RFA_5',
 'RFA_6',
 'RFA_7',
 'RFA_8',
 'RFA_9',
 'RFA_10',
 'RFA_11',
 'RFA_12',
 'RFA_13',
 'RFA_14',
 'RFA_15',
 'RFA_16',
 'RFA_17',
 'RFA_18',
 'RFA_19',
 'RFA_20',
 'RFA_21',
 'RFA_22',
 'RFA_23',
 'RFA_24']

In [163]:
#data2 = data.drop(columns=drop_list)

In [164]:
#data2.shape

## NUMERICAL DATA